Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are

1.Python

2.R  

3.Julia

Some of the commonly used libraries used by Data Scientists include:

1.TensorFlow.

2.NumPy.

3.SciPy.

4.Pandas.

5.Matplotlib.

6.Keras.

8.PyTorch.

Data Science Tools

1.RStudio.

2.Apache Spark.

3.TensorFlow.

Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

Objectives:

.Popular languages that Data Scientists

.Commonly used libraries used by Data Scientists

.Data Science Tools

.Evaluating arithmetic expressions

Auther:

Avinash Chandra Trivedi